/* フォント設定 */
@font-face {
    font-family: 'Maru Minya';
    src: url(../fonts/x12y12pxMaruMinyaM.ttf) format('truetype');
}

/* 全体の設定 */
body,
h1,
ul,
li,
a {
    margin: 0;
    padding: 0;
    font-family: 'Maru Minya', sans-serif;
    color: #FDF8FE;
    font-size: 16px;
    line-height: 120%;
    text-shadow: 2px 2px 8px rgba(212, 78, 230, 0.603);
}

html,
body {
    height: 100%;
    overflow: hidden;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/* 背景 */
.background {
    background: url(../images/background.png) center/cover no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
}

/* 背景アニメーション用の星 */
.star {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

/* コンテナ設定 */
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
    position: relative;
    z-index: 1;
}

.logo {
    height: 85px;
    width: auto;
}

/* メインコンテンツ */
main {
    display: flex;
    justify-content: center;
    height: calc(100vh - 190px);
    text-align: center;
    padding: 20px 10px;
    position: relative;
    z-index: 2;
}

/* フェードインアニメーション */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* サブナビゲーション */
.subnav-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 7px;
    z-index: 3;
}

.subnav {
    padding: 10px 20px;
    color: #fcf56f;
    background-color: #EE90FF;
    border-radius: 25px;
    transition: background-color 0.3s, color 0.3s;
    text-shadow: 2px 2px 8px rgba(252, 245, 125, 0.2);
}

.subnav:hover {
    background-color: #FDF8FE;
    color: #EE90FF;
}

/* フッター */
footer {
    background-color: #cd83ff;
    padding: 10px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10000;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* 最近のキラキラセクション */
.recent-container {
    height: 190px;
    width: 440px;
    margin: 0 auto;
    position: relative;
    z-index: 3;
}

.recent-image {
    height: 150px;
    position: absolute;
    top: 50%;
    left: 23%;
    transform: translate(-50%, -50%);
    z-index: 3;
}

.recent-text {
    margin-top: 30px;
    margin-bottom: 10px;
}

.recent-explain {
    position: absolute;
    top: 40%;
    left: 70%;
    transform: translate(-50%, -50%);
    width: 300px;
    font-size: 14px;
}

/* .recent-explain, .explain {
    color: #bb7ece;
    text-shadow: 1px 1px 1px #d4b6cc;
} */

/* プレビューエリア */
#preview-area img {
    max-width: 300px;
    max-height: 300px;
    z-index: 3;
}

/* Lottie アニメーション */
.lottie {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
}

/* サンプルボックス */
.sample_box13 {
    padding: 1em 1.5em;
    margin: 1em auto;
    background: #EE90FF;
    background-image: radial-gradient(rgb(235, 192, 240) 10%, transparent 15%), radial-gradient(rgb(235, 192, 240) 10%, transparent 15%);
    background-position: 0 0, 10px 10px;
    background-size: 20px 20px;
    border-radius: 10px;
    width: 80%;
    box-shadow: 0 4px 6px rgba(226, 143, 236, 1.0);
    z-index: 3;
}

/* アップロードタイトル */
.upload-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 100%;
    margin: 0 auto;
    border-radius: 20px;
    padding: 10px;
    z-index: 3;
}

@media screen and (max-width: 768px) {
    footer {
        font-size: 12px;
    }
}