.submit-btn {
    position: fixed;
    bottom: 150px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 18px;
    cursor: pointer;
}

.submit-btn:hover {
    transform: translateX(-50%) translateY(-3px);
}

.submit-btn:active {
    transform: translateX(-50%) translateY(0);
}

#image-preview-container {
    text-align: center;
    margin-top: 20px;
}

#image-preview {
    max-width: 400px;
    display: none;
}

.file-drop-area {
    margin-bottom: -5px;
}

.sub-back {
    margin-top: 15px;
    margin-bottom: 30px;
}