/* アップロードセクション */
.upload-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 15px;
    animation: bounceIn 1.5s ease;
}

@keyframes bounceIn {
    0%, 20%, 40%, 60%, 80%, 100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}

.upload-container p {
    font-size: 15px;
}

.file-drop-area {
    display: flex;
    align-items: center;
    width: 40%;
    padding: 33px;
    padding-bottom: 17px;
    border-radius: 3px;
    background: linear-gradient(to right, #BD96FF, #EE90FF);
    transition: background-color 0.2s;
    position: relative;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(212, 159, 212, 1.0);
    height: 50px;
    margin-top: -6px;
}

.file-drop-area.is-active {
    background-color: rgba(212, 159, 212, 0.05);
}

.fake-btn {
    background-color: rgba(255, 255, 255, 0.06);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 3px;
    padding: 8px 15px;
    margin-right: 10px;
    font-size: 15px;
    text-transform: uppercase;
}

.file-msg {
    font-size: 15px;
    font-weight: 300;
    line-height: 3;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.file-input {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
    opacity: 0;
}

.file-input:focus {
    outline: none;
}

input {
    font-family: 'Maru Minya', sans-serif;
    color: #FDF8FE;
    font-size: 16px;
    line-height: 120%;
    text-shadow: 1px 1px 1px #8144DD;
}

.submit-btn {
    background: linear-gradient(to right, #EE90FF, #BD96FF);
    border: none;
    border-radius: 25px;
    padding: 12px 25px;
    cursor: pointer;
    transition: background 0.3s, transform 0.2s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-shadow: 2px 2px 8px rgba(136, 81, 173, 0.603);
    margin-top: 10px;
    z-index: 100;
}

.submit-btn:hover {
    background: linear-gradient(to right, #BD96FF, #EE90FF);
    transform: translateY(-3px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.submit-btn:active {
    transform: translateY(0);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
