.title-container {
    position: relative;
    display: inline-block;
    animation: fadeIn 1.5s ease-in-out;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    width: 35%;
    min-width: 360px;
    height: auto;
    margin: 0 auto;
}

.title-text {
    position: absolute;
    top: 48%;
    /* bottom: 5%; */
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    /* 最小1.2rem | SP:1.4rem | TB:1.5rem | PC:1.6rem | 最大1.8rem */
	font-size: clamp(0.8rem, calc(0.4vw + 0.6rem), 1rem);
}

.slideshow-container {
    position: relative;
    margin: auto;
    max-height: 100px;
}

.slide img {
    max-width: 300px !important;
    max-height: 150px !important;
    width: auto !important;
    height: auto !important;
    margin: auto;
    display: block;
    object-fit: contain;
}

.caption {
    color: #FDF8FE;
    font-size: 14px;
    position: absolute;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

/* 
.dot {
    cursor: pointer;
    height: 13px;
    width: 13px;
    margin: 60px 10px;
    background-color: #d496e7d3;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    z-index: 100000;
}

.active,
.dot:hover {
    background-color: #9b67aad3;
} */

.lottie {
    top: 87%;
}

@media only screen and (max-width: 767px) {
    #css {
        width: auto;
    }
}

@media only screen and (max-width: 380px) {
    .recent-text {
        display: none;
    }
}