.explain {
    text-align: center;
}

#image-preview-container {
    margin-top: 100px;
}

.image-preview img {
    max-width: 1000px;
    max-height: 350px;
    width: 90%;
    height: auto;
    margin: 10px auto;
    border-radius: 20px;
}

.stars-container {
    display: flex;
    justify-content: center;
    letter-spacing: -2px;
}

.subnav {
    margin: 10px;
}
